<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./commands.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon_io/favicon-16x16.png">
    <link rel="manifest" href="./favicon_io/site.webmanifest">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <title>PizzaHat</title>
    <!-- Primary Meta tags -->
    <meta name="title", content="PizzaHat">
    <meta name="description" content="PizzaHat is a multi-purpose Discord Bot, which provides some epic server utilities and has features like powerful moderation, utility, music and much more!">
    <meta name="keywords" content="Discord, Bot, PizzaHat, Website, Discord Bot, Moderation, Music, Discord.py, Utility,Automoderation">
    <meta property="og:url", content="/">
    <meta property="og:site_name", content="PizzaHat">
    <meta property="og:title", content="PizzaHat">
    <meta property="og:description", content="PizzaHat is a multi-purpose Discord Bot, which provides some epic server utilities and has features like powerful moderation, utility, music and much more!">
    <meta property="og:image", content="https://i.imgur.com/EvllFBn.png">
    <meta property="og:image:type", content="image/png">
    <meta property="og:type", content="website">
    <!-- Twitter -->
    <meta property="twitter:card", content="summary_large_image">
    <meta property="twitter:url", content="https://pizzahat.ml">
    <meta property="twitter:title", content="PizzaHat">
    <meta property="twitter:description", content="PizzaHat is a multi-purpose Discord Bot, which provides some epic server utilities and has features like powerful moderation, utility, music and much more!">
    <meta property="twitter:image", content="https://i.imgur.com/EvllFBn.png">
    <meta name="theme-color", content="#2469df">
</head>
<body>
    <div class="navbar">

        <a href="./index.html">
            <img src="./assets/bot-logo (transparent).png" alt="logo" class="navbar-logo" width="60" height="60">
        </a>

        <div class="navbar-items">
            <a href="./index.html">Home</a>
            <a href="#">Commands</a>
        </div>

    </div>
</body>
</html>