* {
    background-color: #292933;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #26262e;
}

.navbar-logo {
    background-color: #26262e;
    border-radius: 50%;
    padding: 10px;
    margin-left: 5px;
}

.navbar-items {
    background-color: #26262e;
    overflow: hidden;
    margin-top: -70px;
    margin-left: 85%;
}

.navbar-items a {
    float: left;
    background-color: #26262e;
    color: rgb(151, 151, 151);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.navbar-items a:hover {
    color: white;
}

.navbar-items a:active {
    color: white;
}