<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./commands.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon_io/favicon-16x16.png">
    <link rel="manifest" href="./favicon_io/site.webmanifest">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PizzaHat</title>
</head>
<body>
    <div class="navbar">

        <a href="./index.html">
            <img src="./assets/bot-logo.png" alt="logo" class="navbar-logo" width="60" height="60">
        </a>

        <div class="navbar-items">
            <a href="#">Commands</a>
            <a href="">Docs</a>
        </div>

    </div>
</body>
</html>