<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PizzaHat</title>
</head>
<body>
    <div class="navbar">
        </div>
        <a href="./index.html">
            <img src="/assets/bot-logo.png" alt="logo" class="navbar-logo" width="70" height="70">
        </a>
    </div>
    <h1>PizzaHat</h1>
    <p class="bot-description">
        Enhance your Discord server with the best Multi-Purpose Discord Bot!
    </p>
    <button class="invite" type="button" onclick="window.open(
        'https://dsc.gg/pizza-invite',
        '_blank'
    );">
        Add to server
    </button>
    <img src="/assets/bot-logo.png" alt="logo" class="bot-logo" width="300", height="300">
</body>
</html>