<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon_io/favicon-16x16.png">
    <link rel="manifest" href="./favicon_io/site.webmanifest">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <title>PizzaHat</title>
    <!-- Primary Meta tags -->
    <meta name="title", content="PizzaHat">
    <meta name="description" content="PizzaHat is a multi-purpose Discord Bot, which provides some epic server utilities and has features like powerful moderation, utility, music and much more!">
    <meta name="keywords" content="Discord, Bot, PizzaHat, Website, Discord Bot, Moderation, Music, Discord.py, Utility,Automoderation">
    <meta property="og:url", content="/">
    <meta property="og:site_name", content="PizzaHat">
    <meta property="og:title", content="PizzaHat">
    <meta property="og:description", content="PizzaHat is a multi-purpose Discord Bot, which provides some epic server utilities and has features like powerful moderation, utility, music and much more!">
    <meta property="og:image", content="https://i.imgur.com/EvllFBn.png">
    <meta property="og:image:type", content="image/png">
    <meta property="og:type", content="website">
    <!-- Twitter -->
    <meta property="twitter:card", content="summary_large_image">
    <meta property="twitter:url", content="https://pizzahat.ml">
    <meta property="twitter:title", content="PizzaHat">
    <meta property="twitter:description", content="PizzaHat is a multi-purpose Discord Bot, which provides some epic server utilities and has features like powerful moderation, utility, music and much more!">
    <meta property="twitter:image", content="https://i.imgur.com/EvllFBn.png">
    <meta name="theme-color", content="#2469df">
</head>
<body>
    <div class="navbar">

        <a href="#">
            <img src="./assets/bot-logo (transparent).png" alt="logo" class="navbar-logo" width="60" height="60">
        </a>

        <div class="navbar-items">
            <a href="#">Home</a>
            <a href="./commands.html">Commands</a>
        </div>

    </div>

    <div>

        <h1>PizzaHat</h1>

        <p class="bot-description">
            Enhance your Discord server with the best Multi-Purpose Discord Bot!
        </p>

        <button class="invite" type="button" onclick="window.open(
            'https://dsc.gg/pizza-invite',
            '_blank'
        );">
        <!-- <img src="./assets/discord-logo.png" alt="Discord Logo" class="DiscordLogo" height="25px"> -->
            Add to server
        </button>

        <button class="server-invite" type="button" onclick="window.open(
            'https://discord.gg/WhNVDTF',
            '_blank'
        );">
            Join server
        </button>

    </div>

    <img src="./assets/bot-logo.png" alt="logo" class="bot-logo">
    <br>


    <div class="bot-stats">
        <h2 class="title">Serving</h2>
        <br>

        <div class="stats">
            <p class="counts">100+</p>
            <p class="servers">servers</p>
        </div>

        <div class="stats">
            <p class="counts">188,500+</p>
            <p class="users">users</p>
        </div>

        <div class="stats">
            <p class="counts">3,480+</p>
            <p class="channels">channels</p>
        </div>

    </div>

</body>
</html>