* {
    background-color: #0c0c0c;
    font-family: 'Poppins', Helvetica, sans-serif, Arial;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-weight: 450;
    font-size: 80px;
    padding: 50px;
    margin-top: 21%;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    margin-top: -20px;
    font-size: 20px;
    font-family: 'Inter', Arial, Helvetica;
}

.invite {
    background-color: #276ab3;
    color: white;
    border: 2px solid black;
    width: 170px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 37%;
}

.invite:hover {
    background-color: #0048ff;
}

.server-invite {
    background-color: #343a40;
    color: white;
    border: 2px solid black;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 3%;
}

.server-invite:hover {
    background-color: #202020;
}

.navbar {
    background-color: #0e1015;
    height: 80px;
}

.navbar-logo {
    background-color: #0e1015;
    padding: 10px;
    margin-left: 5px;
}

.navbar-items {
    background-color: #0e1015;
    overflow: hidden;
    margin-top: -70px;
    margin-left: 6%;
}

.navbar-items a {
    float: left;
    background-color: #0e1015;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica;
    font-size: 18px;
    padding: 15px;
    margin-top: 5px;
}

.navbar-items a:hover {
    color: #6590ff;
}

.navbar-items a:active {
    color: white;
}

.bot-logo {
    border-radius: 50%;
    margin-left: 40%;
    margin-top: -39%;
    max-width: 100%;
    display: block;
    animation-name: floating-logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-logo {
    0% {transform: translate(0,  0px);}
    50% {transform: translate(0, 25px);}
    100% {transform: translate(0, -0px);} 
}

.bot-stats {
    text-align: center;
    padding-top: 27%;
    box-sizing: border-box;
    justify-content: center;
}

.bot-stats .title {
    color: white;
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.bot-stats .counts {
    color: #49f0ff;
    padding: 30px;
    font-size: 65px;
}

.bot-stats .stats {
    padding: 25px;
    font-weight: 700;
    display: inline-block;
    padding: 100px;
    text-align: center;
}

.bot-stats .servers {
    font-size: 25px;
    padding-right: 20px;
}

.bot-stats .users {
    font-size: 25px;
    padding-right: 20px;
}

.bot-stats .channels {
    font-size: 25px;
    padding-right: 20px;
}


#fof-button{
    text-decoration: none;
    color: var(--burple);
    box-shadow: 0px 0px 10px 5px #23272a;
    padding: 15px 30px 10px 30px;
    font-size: 30px;
    border-radius: 15px;
    transition: .75s;

}
#fof-button:hover{
    box-shadow: 0px 0px 10px 2.5px #5865F2;
    transition: .75s;
}