* {
    background-color: #292933;
    margin: 0;
    padding: 0;
}

h1 {
    color: #456dd4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 70px;
    padding: 50px;
    margin-top: 50px;
    margin-left: 35px;
}

p {
    color: white;
    margin-left: 90px;
    margin-top: -20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.invite {
    background-color: #456dd4;
    color: white;
    border: 2px solid black;
    width: 170px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 90px;
}

.invite:hover {
    background-color: #3461d1;
}

.server-invite {
    background-color: #456dd4;
    color: white;
    border: 2px solid black;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 90px;
}

.server-invite:hover {
    background-color: #3461d1;
}

.navbar {
    background-color: #26262e;
}

.navbar-logo {
    background-color: #26262e;
    border-radius: 50%;
    padding: 10px;
    margin-left: 5px;
}

.navbar-items {
    background-color: #26262e;
    overflow: hidden;
    margin-top: -70px;
    margin-left: 85%;
}

.navbar-items a {
    float: left;
    background-color: #26262e;
    color: rgb(151, 151, 151);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.navbar-items a:hover {
    color: white;
}

.navbar-items a:active {
    color: white;
}

.bot-logo {
    border-radius: 50%;
    margin-left: 69%;
    margin-top: -15%;
    max-width: 100%;
    display: block;
    animation-name: floating-logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-logo {
    0% {transform: translate(0,  0px);}
    50% {transform: translate(0, 25px);}
    100% {transform: translate(0, -0px);} 
}