* {
    background-color: #0c0c0c;
    margin: 0;
    padding: 0;
}

h1 {
    color: #456dd4;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    padding: 50px;
    margin-top: 20%;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    margin-top: -20px;
    font-size: 20px;
    font-family: 'Inter', Arial, Helvetica;
}

.invite {
    background-color: #276ab3;
    color: white;
    border: 2px solid black;
    width: 170px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 37%;
}

.invite:hover {
    background-color: #0048ff;
}

.server-invite {
    background-color: #343a40;
    color: white;
    border: 2px solid black;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 3%;
}

.server-invite:hover {
    background-color: #202020;
}

.navbar {
    background-color: #0e1015;
    height: 80px;
}

.navbar-logo {
    background-color: #0e1015;
    padding: 10px;
    margin-left: 5px;
}

.navbar-items {
    background-color: #0e1015;
    overflow: hidden;
    margin-top: -70px;
    margin-left: 6%;
}

.navbar-items a {
    float: left;
    background-color: #0e1015;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica;
    font-size: 18px;
    padding: 15px;
    margin-top: 5px;
}

.navbar-items a:hover {
    color: #6590ff;
}

.navbar-items a:active {
    color: white;
}

.bot-logo {
    border-radius: 50%;
    margin-left: 40%;
    margin-top: -38%;
    max-width: 100%;
    display: block;
    animation-name: floating-logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-logo {
    0% {transform: translate(0,  0px);}
    50% {transform: translate(0, 25px);}
    100% {transform: translate(0, -0px);} 
}